body{
	font-family: arial;
	margin: 0;
	padding: 0;
background-color: #383838;

}
/*img{
	width: 20%;
}*/
header{
	background-color: #800000;
	padding: 20px;
	color: white;
border-bottom: 1px solid orangered;
border-bottom-width:12;
 }
}
nav{
	display: flex;
	justify-content: space-between;
}
nav ul{
	list-style: noone;
	margin:0;
	padding: 0;
}
nav li{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;

}
nav a{
	text-decoration: none;
	color: white;
}
 nav a:hover{
 	color:#333;
 	background-color: white;
 }
 section{
 	padding: 20px;
 	background-color: #000000;
 	color: white;

 }
 footer{
 	text-align: center;
 	padding: 20px;
 	background-color:#383838 ;
 	color: whitesmoke;
 	


 }
 .s{
 	background-color: whitesmoke;
 	color: orangered;
 }
 audio{
 	background-color: orangered;
 }
 main {
            color: grey;
            display: flex;
            flex-wrap: wrap;
        }

        main section {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: flex-start;
        }

        main video {
            margin-bottom: 20px; /* Add some space between videos */
        }

        main section:first-child video {
            align-self: flex-start; /* Align first video to the left */
        }